<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Learning Log</title>
</head>

<body>

    <nav>
        <div>
            <a href="{% url 'learning_logs:index' %}">
                Learning Log
            </a>

            <a href="{% url 'learning_logs:topics' %}">
                Topics
            </a>

            {% if user.is_authenticated %}
                <span>Hello, {{ user.username }}</span>
            {% else %}
                <a href="{% url 'users:register' %}">register</a>
                <a href="{% url 'users:login' %}">log in</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% block content %}{% endblock content %}
    </main>

</body>
</html>